olist_analytics:
  target: "{{ env_var('AIRFLOW_DBT_TARGET', 'local') }}"
  outputs:
    local:
      type: spark
      method: thrift
      host: "{{ env_var('AIRFLOW_SPARK_THRIFTSERVER_HOST', 'spark-thriftserver') }}"
      port: "{{ env_var('AIRFLOW_SPARK_THRIFTSERVER_PORT', '10000') | as_number }}"
      schema: "{{ env_var('AIRFLOW_DBT_SCHEMA', 'olist_analytics') }}"
      database: "{{ env_var('AIRFLOW_DBT_DATABASE', 'default') }}"
      user: "{{ env_var('AIRFLOW_DBT_USER', 'airflow') }}"
      auth: NOSASL
      threads: "{{ env_var('AIRFLOW_DBT_THREADS', '4') | as_number }}"
