# ==========================
# Dataset (do not commit)
# ==========================
data/raw/
data/*.csv
data/parquet/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# ==========================
# Logs
# ==========================
logs/

# ==========================
# macOS / Windows
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================
.idea/
.vscode/
*.iml

# ==========================
# Spark
# ==========================
*.crc
_SUCCESS
metastore_db/
derby.log
spark-warehouse/
*.lck
